@model ResortManagement.Areas.Dashboard.Models.AccommondationTypeEditViewModel


<div class="modal-content">
    @if (Model != null)
    {

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">
                @if (Model.accommodationType != null)
                {
                    <span>Edit Accommodation Type</span>
                }
                else
                {
                    <span>Create Accommodation Type</span>
                }

            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="formAction">
                <input type="hidden" name="ID" value="@(Model.accommodationType!=null?Model.accommodationType.ID.ToString():string.Empty)">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Accommodation Type name</span>
                    </div>
                    <input type="text" name="Type" aria-label="First name" class="form-control" value="@(Model.accommodationType!=null?Model.accommodationType.Type:string.Empty)">
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea class="form-control" name="Description" aria-label="With textarea" placeholder="">@(Model.accommodationType!=null?Model.accommodationType.Description:string.Empty)</textarea>
                </div>

            </form>
            <div class="alert d-none" role="alert" id="DivMessage">

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-share fa-1x mr-1"></i>Close</button>
            <button type="button" class="btn btn-primary" id="btnSave"><i class="fas fa-save fa-1x mr-1"></i>Save changes</button>
        </div>

    }
</div>
<script>

    $("#btnSave").click(function () {
        const DivMessage = $("#DivMessage");

        $.ajax({
            type: 'POST',
            url:'@Url.Action("Action","AccommodationTypes")',
            data: $("#formAction").serialize(),
            dataType:'json'
        }).done(function (response) {

                 DivMessage
                .removeClass('d-none')
                .html(response.Message)
                .addClass(response.Class);
                 $(":input").val('');
           //to refresh _listing partialView Data declared in index view
            refreshTableListing();

            setTimeout(function () {
                DivMessage.addClass('d-none');
            }, 5000);

            });
    });

    $(".btnAction").click(function () {

        $(".modal-content").load($(this).attr('data-href'));

        //$.ajax({
        //    url: $(this).attr('data-href'),
        //    type: 'GET',
        //}).done(function (response) {
        //    debugger;
        //    if (response.Success) {
        //        $("#exampleModalCenterTitle span").text('');
        //        $("#exampleModalCenterTitle span").text("Edit Accommodation Type");
        //        $("input[name=ID]").val(response.ID);
        //        $("input[name=Type]").val(response.Type);
        //        $(":input[name=Description]").val(response.Description);
        //    }

        //});
    });
</script>
