@model ResortManagement.Areas.Dashboard.Models.BookingsViewModel
<div class="container">
    <div class="row my-3">
        <div class="col-md-12">
            <div class="rooms_left container_wrapper">
                <div class="container">
                    <div class="row row-eq-height">
                        <!-- Rooms Content -->
                        <div class="col-xl-6">
                            <div class="rooms_left_content">
                                <div class="section_title">
                                    <div>Rooms</div>
                                    <h1>Luxury Single Room</h1>
                                </div>
                                <div class="rooms_text">
                                    <p>
                                        Maecenas sollicitudin tincidunt maximus. Morbi tempus
                                        malesuada erat sed pellentesque. Donec pharetra mattis
                                        nulla, id laoreet neque scelerisque at. Quisque eget sem non
                                        ligula consectetur ultrices in quis augue. Donec imperd iet
                                        leo eget tortor dictum, eget varius eros sagittis. Curabitur
                                        tempor dignissim massa ut faucibus sollicitudin tinci dunt
                                        maximus. Morbi tempus malesuada erat sed pellentesque.
                                    </p>
                                </div>
                                <div class="rooms_list">
                                    <ul>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="~/Content/images/check.png" alt="" />
                                            <span>Morbi tempus malesuada erat sed</span>
                                        </li>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="~/Content/images/check.png" alt="" />
                                            <span>Tempus malesuada erat sed</span>
                                        </li>
                                        <li class="d-flex flex-row align-items-center justify-content-start">
                                            <img src="~/Content/images/check.png" alt="" />
                                            <span>Pellentesque vel neque finibus elit</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="rooms_price">$89/<span>Night</span></div>
                            </div>
                        </div>

                        <!-- Rooms Image -->
                        <div class="col-xl-6">
                            <div class="rooms_slider_container">
                                <div class="owl-carousel owl-theme rooms_slider">
                                    <!-- Slide -->
                                    <div class="slide">
                                        <div class="background_image"
                                             style="background-image: url(/Content/images/rooms_2.jpg);"></div>
                                    </div>

                                    <!-- Slide -->
                                    <div class="slide">
                                        <div class="background_image"
                                             style="background-image: url(/Content/images/rooms_2.jpg);"></div>
                                    </div>

                                    <!-- Slide -->
                                    <div class="slide">
                                        <div class="background_image"
                                             style="background-image: url(/Content/images/rooms_2.jpg);"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12">
                <div class="container">
                    <form>
                        <input type="hidden" name="ID" value="" />
                        <div class="form-group">
                            <label >CIN</label>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="CIN" required>
                        </div>
                        <div class="form-group">
                            <label >Full Name</label>
                            <input type="text" class="form-control"  placeholder="Full Name" required>
                        </div>
                        <div class="form-group">
                            <label >Email</label>
                            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label > Date Of Birth</label>
                            <input type="text" name="DateOfBirth" class="form-control"  placeholder="Date Of Birth" required>
                        </div>
                        <div class="form-group">
                            <label >Phone Number  </label>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label >Address</label>
                            <textarea  class="form-control"  placeholder="Address" required></textarea>
                        </div>
                        <div class="form-group">
                            <label >City</label>
                            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="City" required>
                        </div>
                            <div class="booking_form_container d-flex flex-lg-row flex-column align-items-start justify-content-start flex-wrap">
                                <div class="booking_form_inputs d-flex flex-row align-items-start justify-content-between flex-wrap">
                                    <div class="booking_dropdown"><input type="text" name="CheckIn" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                                    <div class="booking_dropdown"><input type="text" name="CheckOut" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                                    <div class="custom-select">
                                        <select name="Adults">
                                            <option value="0">Adults</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="custom-select">
                                        <select name="Children">
                                            <option value="0">Children</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="booking_form_button btn-outline-dark ml-lg-auto">Submit</button>
                            </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
<script>
    function SetAge() {
        let D = new Date();
        let Age = D.setFullYear(D.getFullYear() - 18);
        return new Date
        (Age);
    }
    SetAge();
    $("input[name='DateOfBirth']").datepicker({
        dateFormat:"dd-mm-yy",
        changeYear: true,
        changeMonth: true,
        maxDate:SetAge()
    });

</script>
    
